.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125vh;
    background-image: url('./images/capitol1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 250px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space below the logo */
}

/* removing name and replacing with logo
/*.company-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}*/

.page-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight:600;
    color: #f3ebeb;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
}

.signup-container {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    text-align: center;

}

.signup-description {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #444;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

}

.signup-form {
    display: flex;
    flex-direction: column;
}

.pin-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}

.signup-button {
    background-color: hsl(211, 100%, 50%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-help {
    font-size: 0.875rem;
    color: #666;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.switch-auth-mode {
    display: inline-block;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
    
}

.switch-auth-mode:hover {
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
